.collapsible-body {
    background-color: rgba(255, 255, 255, 0.7);
    
    span a {
        text-transform: initial !important;
        
        i {
            margin-right: 1rem;
        }
    }
}