extends templates/main.pug

block vars
    - var age = moment().diff(moment(site.contact.dob, "YYYY-MM-DD"), 'year')

block style
    link(rel="stylesheet", href="/css/about.css")

block content
    //- Description of myself
    div.row
        div.col.s12
            div.card.lbacking
                div.card-content
                    span.card-title.dtext Main Information
                    p.atext I am #{site.contact.first_name} a #{age} year old Computer Scientist, graduated from Cardiff University, and enjoy spending my time tinkering with code and concepts.
    
    //- Contact Information
    div.row
        div.col.s12
            div.card.lbacking
                div.card-content
                    span.dtext.card-title Contant Information
                div.card-action
                    ul.collapsible(data-collapsible="accordion")
                        li
                            div.collapsible-header.sdark
                                i.material-icons email
                                | Email
                            div.collapsible-body
                                span.valign-wrapper
                                    a.dtext.valign-wrapper(href="mailto:#{site.contact.email}")
                                        i.material-icons send
                                        | #{site.contact.email}