extends templates/main.pug

block style
    link(rel="stylesheet", href="/css/home.css")

block content
    div#index-banner.parallax-container
        div.section
            div.container
                h1.header.center.ltext Porting Iain to the Internet
                div.row.center
                    h5.header.col.s12.light A showcase/blog for personal projects
                div.row.center
                    a#download-button.btn-large.hoverable.waves-effect.waves-light.smain(href="/about") About Me
        div.parallax
            img(src="images/background1.jpg" alt="Unsplashed background img 1")

block scripts
     script(src="js/parallax_init.js")