extends templates/main.pug

block style
    link(rel="stylesheet", href="/css/projects.css")

block content
    div.grid
        each project,dir in projects
            a(href="/projects/"+dir)
                div.card.lbacking.grid-item
                    div.card-content.dtext
                        span.card-title #{project.name} - #{project.version}
                        p #{project.description}


block scripts
    script(src="/js/masonry.pkgd.min.js")
    script(src="/js/masonry_init.js")