//- The buttons that will display on the side navigation bar
each button in site.navi
    li
        a(class=url == button.url ? "grey lighten-1" : "" class="waves-effect" href=button.url)
            i(class="material-icons")=button.icon
            | #{button.label}
