//- The buttons that will display on the side navigation bar
each button in site.navi
    li
        a.waves-effect(class=(url == button.url ? "grey lighten-1" : "") href=button.url)
            i.material-icons=button.icon
            | #{button.label}
