//- Footer of the website
footer.page-footer.pmain
    //- div.container
        div.row
            div.col.s12
    div.footer-copyright
        div.container.dtext Made with 
            a.dtext(href="http://materializecss.com") Materialize