//- Main template used across the entire site
html
  block vars
  head
    //- Site title
    title #{site.name} - #{title}

    //- CSS
    link(rel="stylesheet", href="/css/socicon.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/materialize.css")
    //- Template styles
    link(rel="stylesheet", href="/css/main.css")
    //- Page specific styles
    block style

  body
    //- Navigation
    include topbar.pug
    include navi.pug

    //- Pages content
    div(id="main" class="container")
      block content

    //- Footer
    include footer

    //- Scripts used for the template
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/materialize.js")
    script(src="/js/init.js")
    //- Pages scripts
    //- They are loaded after the pages visuals so that the loading time doesn"t stop the user seeing the page
    block scripts