//- Side navigation bar for the website

ul(id="slide-out" class="fixed side-nav")
    li
        div(class="userView")
            div(class="background")
                img(src="images/test.jpg")
            a(href="#")
                img( class="circle" src="images/prof.jpg")
            a(href="#")
                span(class="white-text name") Iain Majer
            a(href="mailto:iain.v.majer@gmail.com")
                span(class="white-text email") iain.v.majer@gmail.com
    include buttons