//- Side navigation bar for the website

ul(id="slide-out" class="fixed side-nav")
    li
        div(class="userView")
            div(class="background")
                img(src="/images/test.jpg")
            a(href="#")
                img( class="circle" src="/images/prof.jpg")
            a(href="#")
                span(class="white-text name") #{site.contact.name}
            a(href="mailto:#{site.contact.email}")
                span(class="white-text email") #{site.contact.email}
    include buttons