//- Side navigation bar for the website

ul#slide-out.fixed.side-nav
    li
        div.userView
            div.background
                img(src="/images/test.jpg")
            a(href="#")
                img.circle(src="/images/prof.jpg")
            a(href="#")
                span.dtext.name #{site.contact.name}
            a(href="mailto:#{site.contact.email}")
                span.dtext.email #{site.contact.email}
    include buttons