//- TopBar
div.navbar-fixed
    nav.pmain(role="navigation")
        div.nav-wrapper
            a.button-collapse.pmain(href="#" data-activates="slide-out")
                i.material-icons menu
            a.breadcrumb.hide-on-small-only.pmain(href="/") #{site.name}
            a.breadcrumb.pmain(href="") #{title}
        
            ul.right
                li
                    div.valign-wrapper
                        a(href=""+site.contact.github)
                            i.shaded.socicon-github.pmain
                li.hide-on-med-and-down
                    form
                        div.input-field
                            input#search(type="search" required)
                            label.label-icon(for="search")
                                i.shaded.material-icons.dtext search
                            i.shaded.material-icons close
